{% extends "base.html" %}

{% block maincontent%}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Blog</h4>
                <h2>Our Recent Blog Posts</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-1-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>

                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-2-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                      
                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-3-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                      
                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-4-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                      
                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-5-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                      
                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/static/img/blog-6-720x480.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <a href="blog-details.html"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</h4></a>
                      
                      <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                      
                      <ul class="post-info">
                        <li><a href="#">John Doe</a></li>
                        <li><a href="#">10.07.2020 10:20</a></li>
                        <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for post in posts|slice:":4" %}
                        <li><a href="/blog/{{post.slug}}">
                          <h5>{{post.title}}</h5>
                          <span>{{ post.created_on|date:"F j, Y" }}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
 



              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {% comment %} 
    
    
    <div class="item">
      <img src="/media/{{blog.image}}" height='480px' width='720px'>
      <div class="item-content">    
        <div class="main-content">
          <a href="/blog/{{blog.slug}}"><h4>{{blog.title}}</h4></a>
          <ul class="post-info">
            <li>{{blog.author.username}}</li>
            <li>Created : {{blog.created_on}}</li>
            <li>Updated : {{blog.updated_on}}</li>
          </ul>
        </div>
      </div>
    </div> {% endcomment %}

{% endblock maincontent %}