{% extends "base.html" %}
{% block maincontent%}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
    </div>
    <!-- Banner Ends Here -->
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="/media/{{blog.image}}">
                    </div>
                    <div class="down-content">
                      <a href="{{blog.slug}}"><h4>Aenean pulvinar gravida sem nec</h4></a>
                      <ul class="post-info">
                        <li>Author : {{blog.author.username}}</li>
                        <li>Created : {{ blog.created_on|date:"F j, Y" }}</li>
                        <li>Updated : {{ blog.updated_on|date:"F j, Y" }}</li>
                      </ul>
                      <p>{{blog.content|safe}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for post in posts%}
                        <li><a href="/blog/{{post.slug}}">
                          <h5>{{post.title}}</h5>
                          <span>{{ post.created_on|date:"F j, Y" }}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock maincontent %}