{% extends "base.html" %}

{% block maincontent%}
<!-- Banner Starts Here -->
<div class="main-banner header-text">
  <div class="container-fluid">
    <div class="owl-banner owl-carousel">
      
      {% for blog in blogs|slice:":5" %}
      <div class="item">
          <img src="/media/{{blog.image}}" height='480px' width='720px'>
          <div class="item-content">    
            <div class="main-content">
              <a href="/blog/{{blog.slug}}"><h4>{{blog.title}}</h4></a>
              <ul class="post-info">
                <li>{{blog.author.username}}</li>
                <li>Created : {{ blog.created_on|date:"F j, Y" }}</li>
                <li>Updated : {{ blog.updated_on|date:"F j, Y" }}</li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
  <div class="container">
    <div class="all-blog-posts">
      <h2 class="text-center">Blog</h2>
      <br>
      <div class="row">

        {% for blog in blogs|slice:"6:11" %}

        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="blog-thumb">
              <img src="/media/{{blog.image}}" height='480px' >
            </div>
            <div class="down-content">
              <a href="/blog/{{blog.slug}}"><h4>{{blog.title}}</h4></a>
              <ul class="post-info">
                <li>{{blog.author.username}}</li>
                <li>{{ blog.created_on|date:"F j, Y" }}</li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock maincontent%}